body{margin:0;font-family:Segoe UI;background:#f6f7f9;display:flex}
.sidebar{width:220px;background:#fff;height:100vh;padding:10px;border-right:1px solid #ddd}
.sidebar a{display:block;padding:10px;text-decoration:none;color:#000;border-radius:6px}
.sidebar a:hover{background:#eee}

.main{flex:1}
.header{background:#fff;padding:12px;border-bottom:1px solid #ddd;display:flex;justify-content:space-between}

.card{background:#fff;margin:10px;padding:12px;border-radius:10px}
button{padding:6px;margin:3px;border:none;border-radius:6px}
.accept{background:green;color:#fff}
.reject{background:red;color:#fff}
