/* =====================================================
GLOBAL
===================================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#F5F7FB;
color:#111827;
overflow:hidden;
}

/* =====================================================
TOPBAR
===================================================== */

.topbar{
position:fixed;
top:0;
left:0;
right:0;
height:82px;
background:#fff;
border-bottom:1px solid #E5E7EB;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 24px;
z-index:999;
}

.logo{
font-size:32px;
font-weight:900;
}

/* =====================================================
SIDEBAR
===================================================== */

.sidebar{
position:fixed;
top:82px;
left:0;
bottom:0;
width:240px;
background:#fff;
border-right:1px solid #E5E7EB;
padding:18px 10px;
overflow:auto;
}

.sidebarMenu{
display:flex;
flex-direction:column;
gap:6px;
}

.sidebarMenu a{
height:52px;
padding:0 16px;
display:flex;
align-items:center;
gap:14px;
border-radius:14px;
text-decoration:none;
font-size:15px;
font-weight:700;
color:#374151;
transition:0.2s;
}

.sidebarMenu a:hover{
background:#F3F4F6;
}

.sidebarMenu a.active{
background:#111827;
color:#fff;
}

/* =====================================================
MAIN
===================================================== */

.main{
margin-left:240px;
margin-top:82px;
padding:24px;
height:calc(100vh - 82px);
overflow:auto;
}
